In [1]:
import pandas as pd

df1 = pd.read_csv("data1.csv")
df2 = pd.read_csv("data2.csv")

df = pd.merge(df1,df2,how = 'inner',on='ID')  #ID기준으로 합치기
df.drop(['Date_x','Date_y','ID'], axis = 1, inplace = True)
df

,Gender,Age,Shift,Injury Location,Incident Type,Days Lost,Incident Cost
0,Male,25,Night,Trunk,Burn,0.0,"$5,000"
1,Female,18,Day,Abdomen,Cut,0.0,"$4,994"
2,Male,35,Day,Back,Lifting,5.0,"$4,969"
3,Female,50,Day,Legs,Lifting,2.5,4947
4,Male,25,Day,Abdomen,Lifting,3.0,"$4,940"
...,...,...,...,...,...,...,...
509,Female,31,Night,Back,Lifting,0.0,0
510,Male,31,Night,Back,Slip/trip,0.0,0
511,Male,22,Night,Abdomen,Crush & Pinch,0.0,0
512,Male,31,Night,Hands,Lifting,0.0,0
513,Male,60,Night,Hands,Cut,0.0,0

In [2]:
df.dropna(inplace = True)  #결측치 제거
df['Incident Cost'] = df['Incident Cost'].str.replace(pat =r'[^\w]', repl=r'', regex=True ) #특수문자 제거
df

,Gender,Age,Shift,Injury Location,Incident Type,Days Lost,Incident Cost
0,Male,25,Night,Trunk,Burn,0.0,5000
1,Female,18,Day,Abdomen,Cut,0.0,4994
2,Male,35,Day,Back,Lifting,5.0,4969
3,Female,50,Day,Legs,Lifting,2.5,4947
4,Male,25,Day,Abdomen,Lifting,3.0,4940
...,...,...,...,...,...,...,...
509,Female,31,Night,Back,Lifting,0.0,0
510,Male,31,Night,Back,Slip/trip,0.0,0
511,Male,22,Night,Abdomen,Crush & Pinch,0.0,0
512,Male,31,Night,Hands,Lifting,0.0,0
513,Male,60,Night,Hands,Cut,0.0,0

In [3]:
#https://rfriend.tistory.com/521
import numpy as np
# bins = [0,30,40,50]
# bins = [0,30,50]
bins = [0,20,30,40,50]

df['Age_grouping'] = np.digitize(df['Age'], bins)
df

,Gender,Age,Shift,Injury Location,Incident Type,Days Lost,Incident Cost,Age_grouping
0,Male,25,Night,Trunk,Burn,0.0,5000,2
1,Female,18,Day,Abdomen,Cut,0.0,4994,1
2,Male,35,Day,Back,Lifting,5.0,4969,3
3,Female,50,Day,Legs,Lifting,2.5,4947,5
4,Male,25,Day,Abdomen,Lifting,3.0,4940,2
...,...,...,...,...,...,...,...,...
509,Female,31,Night,Back,Lifting,0.0,0,3
510,Male,31,Night,Back,Slip/trip,0.0,0,3
511,Male,22,Night,Abdomen,Crush & Pinch,0.0,0,2
512,Male,31,Night,Hands,Lifting,0.0,0,3
513,Male,60,Night,Hands,Cut,0.0,0,5

In [4]:
#Injury Location 묶어서 라벨링

map_Injury = {'Trunk' : 0, 'Abdomen' : 0, 'Back' : 0, 'Legs' : 1, 'Neck':2, 'Head' : 2, 'Multiple':3,
        'Eye':4, 'Arms': 5, 'Hands' : 5, 'Feet' : 1}
df['Injury Location'] = df['Injury Location'].map(map_Injury)
df

,Gender,Age,Shift,Injury Location,Incident Type,Days Lost,Incident Cost,Age_grouping
0,Male,25,Night,0,Burn,0.0,5000,2
1,Female,18,Day,0,Cut,0.0,4994,1
2,Male,35,Day,0,Lifting,5.0,4969,3
3,Female,50,Day,1,Lifting,2.5,4947,5
4,Male,25,Day,0,Lifting,3.0,4940,2
...,...,...,...,...,...,...,...,...
509,Female,31,Night,0,Lifting,0.0,0,3
510,Male,31,Night,0,Slip/trip,0.0,0,3
511,Male,22,Night,0,Crush & Pinch,0.0,0,2
512,Male,31,Night,5,Lifting,0.0,0,3
513,Male,60,Night,5,Cut,0.0,0,5

In [5]:
df.drop(['Age','Days Lost','Incident Cost'], axis = 1, inplace = True)
df.sort_values('Age_grouping', ascending=True)

df

     Gender  Shift  Injury Location  Incident Type  Age_grouping
0      Male  Night                0           Burn             2
1    Female    Day                0            Cut             1
2      Male    Day                0        Lifting             3
3    Female    Day                1        Lifting             5
4      Male    Day                0        Lifting             2
..      ...    ...              ...            ...           ...
509  Female  Night                0        Lifting             3
510    Male  Night                0      Slip/trip             3
511    Male  Night                0  Crush & Pinch             2
512    Male  Night                5        Lifting             3
513    Male  Night                5            Cut             5

[472 rows x 5 columns]

In [6]:
#Gender, Shift 라벨링, Incident Type 원핫인코딩

df.loc[df['Gender']== 'Male','Gender'] = 0
df.loc[df['Gender']== 'Female','Gender'] = 1 
df.loc[df['Shift']== 'Day','Shift'] = 0
df.loc[df['Shift']== 'Night','Shift'] = 1 
df=pd.get_dummies(df, columns = ['Incident Type'])
df=pd.get_dummies(df, columns = ['Injury Location'])
df

,Gender,Shift,Age_grouping,Incident Type_Burn,Incident Type_Crush & Pinch,Incident Type_Cut,Incident Type_Equipment,Incident Type_Fall,Incident Type_Falling object,Incident Type_Lifting,Incident Type_Slip/trip,Incident Type_Vehicle,Injury Location_0,Injury Location_1,Injury Location_2,Injury Location_3,Injury Location_4,Injury Location_5
0,0,1,2,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,3,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
3,1,0,5,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,2,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,1,1,3,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
510,0,1,3,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
511,0,1,2,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
512,0,1,3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
513,0,1,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

In [7]:
df.columns

Index(['Gender', 'Shift', 'Age_grouping', 'Incident Type_Burn',
       'Incident Type_Crush & Pinch', 'Incident Type_Cut',
       'Incident Type_Equipment', 'Incident Type_Fall',
       'Incident Type_Falling object', 'Incident Type_Lifting',
       'Incident Type_Slip/trip', 'Incident Type_Vehicle', 'Injury Location_0',
       'Injury Location_1', 'Injury Location_2', 'Injury Location_3',
       'Injury Location_4', 'Injury Location_5'],
      dtype='object')

In [8]:
from sklearn.model_selection import train_test_split

X=df[['Gender', 'Shift', 'Age_grouping','Incident Type_Burn',
       'Incident Type_Crush & Pinch', 'Incident Type_Cut',
       'Incident Type_Equipment', 'Incident Type_Fall',
       'Incident Type_Falling object', 'Incident Type_Lifting',
       'Incident Type_Slip/trip', 'Incident Type_Vehicle']].astype(float)
Y = df[[ 'Injury Location_0','Injury Location_1', 'Injury Location_2', 'Injury Location_3',
       'Injury Location_4', 'Injury Location_5']].astype(float)
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.20)
X

,Gender,Shift,Age_grouping,Incident Type_Burn,Incident Type_Crush & Pinch,Incident Type_Cut,Incident Type_Equipment,Incident Type_Fall,Incident Type_Falling object,Incident Type_Lifting,Incident Type_Slip/trip,Incident Type_Vehicle
0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
509,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
510,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
511,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
512,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
513,0.0,1.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(255, input_dim = 12, activation = 'relu'))
model.add(Dense(255, activation = 'relu'))
model.add(Dense(6, activation = 'softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics = ['accuracy'])
model.fit(X_train,y_train, batch_size = 1, epochs = 250)

Epoch 1/250
377/377 [==============================] - 3s 4ms/step - loss: 1.7921 - accuracy: 0.1989
Epoch 2/250
377/377 [==============================] - 1s 3ms/step - loss: 1.7257 - accuracy: 0.2361
Epoch 3/250
377/377 [==============================] - 1s 3ms/step - loss: 1.7060 - accuracy: 0.2785
Epoch 4/250
377/377 [==============================] - 1s 3ms/step - loss: 1.6803 - accuracy: 0.2865
Epoch 5/250
377/377 [==============================] - 1s 3ms/step - loss: 1.6409 - accuracy: 0.2971
Epoch 6/250
377/377 [==============================] - 1s 3ms/step - loss: 1.6417 - accuracy: 0.2944
Epoch 7/250
377/377 [==============================] - 1s 3ms/step - loss: 1.6160 - accuracy: 0.3316
Epoch 8/250
377/377 [==============================] - 1s 3ms/step - loss: 1.5909 - accuracy: 0.3475
Epoch 9/250
377/377 [==============================] - 1s 3ms/step - loss: 1.5814 - accuracy: 0.3422
Epoch 10/250
377/377 [==============================] - 1s 3ms/step - loss: 1.5569 - accuracy: 0.3448
Epoch 11/250
377/377 [==============================] - 1s 3ms/step - loss: 1.5409 - accuracy: 0.3448
Epoch 12/250
377/377 [==============================] - 1s 3ms/step - loss: 1.5194 - accuracy: 0.3634
Epoch 13/250
377/377 [==============================] - 1s 3ms/step - loss: 1.5010 - accuracy: 0.3846
Epoch 14/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4893 - accuracy: 0.3528
Epoch 15/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4646 - accuracy: 0.3820
Epoch 16/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4565 - accuracy: 0.3660
Epoch 17/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4577 - accuracy: 0.3820
Epoch 18/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4402 - accuracy: 0.3846
Epoch 19/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4179 - accuracy: 0.3952
Epoch 20/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4052 - accuracy: 0.3767
Epoch 21/250
377/377 [==============================] - 1s 3ms/step - loss: 1.4052 - accuracy: 0.3820
Epoch 22/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3932 - accuracy: 0.4111
Epoch 23/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3872 - accuracy: 0.3767
Epoch 24/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3645 - accuracy: 0.3767
Epoch 25/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3547 - accuracy: 0.4032
Epoch 26/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3673 - accuracy: 0.3846
Epoch 27/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3432 - accuracy: 0.4005
Epoch 28/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3345 - accuracy: 0.4138
Epoch 29/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3432 - accuracy: 0.4058
Epoch 30/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3349 - accuracy: 0.4032
Epoch 31/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3213 - accuracy: 0.4005
Epoch 32/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3154 - accuracy: 0.4085
Epoch 33/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3067 - accuracy: 0.4032
Epoch 34/250
377/377 [==============================] - 1s 3ms/step - loss: 1.3059 - accuracy: 0.4058
Epoch 35/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2956 - accuracy: 0.4244
Epoch 36/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2994 - accuracy: 0.4111
Epoch 37/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2943 - accuracy: 0.4058
Epoch 38/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2783 - accuracy: 0.4324
Epoch 39/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2823 - accuracy: 0.4058
Epoch 40/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2749 - accuracy: 0.4324
Epoch 41/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2743 - accuracy: 0.4403
Epoch 42/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2769 - accuracy: 0.4456
Epoch 43/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2687 - accuracy: 0.4085
Epoch 44/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2623 - accuracy: 0.4324
Epoch 45/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2557 - accuracy: 0.4297
Epoch 46/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2604 - accuracy: 0.4111
Epoch 47/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2563 - accuracy: 0.4377
Epoch 48/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2431 - accuracy: 0.4191
Epoch 49/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2486 - accuracy: 0.4032
Epoch 50/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2479 - accuracy: 0.4164
Epoch 51/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2476 - accuracy: 0.4138
Epoch 52/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2400 - accuracy: 0.4324
Epoch 53/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2426 - accuracy: 0.4111
Epoch 54/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2345 - accuracy: 0.4271
Epoch 55/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2334 - accuracy: 0.4191
Epoch 56/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2250 - accuracy: 0.4297
Epoch 57/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2253 - accuracy: 0.4191
Epoch 58/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2315 - accuracy: 0.4244
Epoch 59/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2157 - accuracy: 0.4430
Epoch 60/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2303 - accuracy: 0.4350
Epoch 61/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2215 - accuracy: 0.4324
Epoch 62/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2180 - accuracy: 0.4615
Epoch 63/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2172 - accuracy: 0.4403
Epoch 64/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2114 - accuracy: 0.4350
Epoch 65/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2100 - accuracy: 0.4350
Epoch 66/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2180 - accuracy: 0.4324
Epoch 67/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2127 - accuracy: 0.4430
Epoch 68/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2049 - accuracy: 0.4271
Epoch 69/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1995 - accuracy: 0.4350
Epoch 70/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2074 - accuracy: 0.4297
Epoch 71/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2167 - accuracy: 0.4244
Epoch 72/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2112 - accuracy: 0.4483
Epoch 73/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1986 - accuracy: 0.4562
Epoch 74/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1975 - accuracy: 0.4483
Epoch 75/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1894 - accuracy: 0.4509
Epoch 76/250
377/377 [==============================] - 2s 5ms/step - loss: 1.1908 - accuracy: 0.4483
Epoch 77/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1837 - accuracy: 0.4668
Epoch 78/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1892 - accuracy: 0.4138
Epoch 79/250
377/377 [==============================] - 1s 3ms/step - loss: 1.2001 - accuracy: 0.4191
Epoch 80/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1885 - accuracy: 0.4536
Epoch 81/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1780 - accuracy: 0.4509
Epoch 82/250
377/377 [==============================] - 1s 2ms/step - loss: 1.1902 - accuracy: 0.4244
Epoch 83/250
377/377 [==============================] - 1s 2ms/step - loss: 1.1808 - accuracy: 0.4350
Epoch 84/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1754 - accuracy: 0.4483
Epoch 85/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1871 - accuracy: 0.4350
Epoch 86/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1808 - accuracy: 0.4403
Epoch 87/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1861 - accuracy: 0.4377
Epoch 88/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1783 - accuracy: 0.4430
Epoch 89/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1737 - accuracy: 0.4562
Epoch 90/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1748 - accuracy: 0.4562
Epoch 91/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1901 - accuracy: 0.4456
Epoch 92/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1587 - accuracy: 0.4536
Epoch 93/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1773 - accuracy: 0.4164
Epoch 94/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1751 - accuracy: 0.4562
Epoch 95/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1766 - accuracy: 0.4403
Epoch 96/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1668 - accuracy: 0.4615
Epoch 97/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1702 - accuracy: 0.4244
Epoch 98/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1727 - accuracy: 0.4377
Epoch 99/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1637 - accuracy: 0.4350
Epoch 100/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1586 - accuracy: 0.4403
Epoch 101/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1839 - accuracy: 0.4377
Epoch 102/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1714 - accuracy: 0.4456
Epoch 103/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1534 - accuracy: 0.4536
Epoch 104/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1534 - accuracy: 0.4562
Epoch 105/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1597 - accuracy: 0.4456
Epoch 106/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1619 - accuracy: 0.4456
Epoch 107/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1549 - accuracy: 0.4483
Epoch 108/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1540 - accuracy: 0.4748
Epoch 109/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1584 - accuracy: 0.4642
Epoch 110/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1556 - accuracy: 0.4377
Epoch 111/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1618 - accuracy: 0.4589
Epoch 112/250
377/377 [==============================] - 1s 2ms/step - loss: 1.1586 - accuracy: 0.4589
Epoch 113/250
377/377 [==============================] - 1s 2ms/step - loss: 1.1488 - accuracy: 0.4987
Epoch 114/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1415 - accuracy: 0.4350
Epoch 115/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1738 - accuracy: 0.4377
Epoch 116/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1536 - accuracy: 0.4271
Epoch 117/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1542 - accuracy: 0.4562
Epoch 118/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1408 - accuracy: 0.4589
Epoch 119/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1471 - accuracy: 0.4271
Epoch 120/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1509 - accuracy: 0.4562
Epoch 121/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1527 - accuracy: 0.4377
Epoch 122/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1436 - accuracy: 0.4589
Epoch 123/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1408 - accuracy: 0.4430
Epoch 124/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1489 - accuracy: 0.4456
Epoch 125/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1475 - accuracy: 0.4615
Epoch 126/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1375 - accuracy: 0.4562
Epoch 127/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1356 - accuracy: 0.4430
Epoch 128/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1405 - accuracy: 0.4377
Epoch 129/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1320 - accuracy: 0.4589
Epoch 130/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1329 - accuracy: 0.4536
Epoch 131/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1486 - accuracy: 0.4403
Epoch 132/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1372 - accuracy: 0.4483
Epoch 133/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1591 - accuracy: 0.4509
Epoch 134/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1510 - accuracy: 0.4456
Epoch 135/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1245 - accuracy: 0.4377
Epoch 136/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1313 - accuracy: 0.4562
Epoch 137/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1296 - accuracy: 0.4403
Epoch 138/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1250 - accuracy: 0.4509
Epoch 139/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1359 - accuracy: 0.4562
Epoch 140/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1198 - accuracy: 0.4483
Epoch 141/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1304 - accuracy: 0.4509
Epoch 142/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1278 - accuracy: 0.4483
Epoch 143/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1481 - accuracy: 0.4748
Epoch 144/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1208 - accuracy: 0.4642
Epoch 145/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1273 - accuracy: 0.4721
Epoch 146/250
377/377 [==============================] - 1s 4ms/step - loss: 1.1503 - accuracy: 0.4536
Epoch 147/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1245 - accuracy: 0.4642
Epoch 148/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1163 - accuracy: 0.4748
Epoch 149/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1138 - accuracy: 0.4483
Epoch 150/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1096 - accuracy: 0.4430
Epoch 151/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1266 - accuracy: 0.4589
Epoch 152/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1126 - accuracy: 0.4509
Epoch 153/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1180 - accuracy: 0.4668
Epoch 154/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1357 - accuracy: 0.4695
Epoch 155/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1383 - accuracy: 0.4562
Epoch 156/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1188 - accuracy: 0.4854
Epoch 157/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1198 - accuracy: 0.4456
Epoch 158/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1343 - accuracy: 0.4324
Epoch 159/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1092 - accuracy: 0.4456
Epoch 160/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1237 - accuracy: 0.4642
Epoch 161/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1218 - accuracy: 0.4642
Epoch 162/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1200 - accuracy: 0.4562
Epoch 163/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1115 - accuracy: 0.4642
Epoch 164/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1140 - accuracy: 0.4615
Epoch 165/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1374 - accuracy: 0.4589
Epoch 166/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1247 - accuracy: 0.4589
Epoch 167/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1097 - accuracy: 0.4615
Epoch 168/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1075 - accuracy: 0.4642
Epoch 169/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1110 - accuracy: 0.4615
Epoch 170/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1390 - accuracy: 0.4536
Epoch 171/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1049 - accuracy: 0.4775
Epoch 172/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1219 - accuracy: 0.4483
Epoch 173/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1060 - accuracy: 0.4748
Epoch 174/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1168 - accuracy: 0.4615
Epoch 175/250
377/377 [==============================] - 1s 3ms/step - loss: 1.0996 - accuracy: 0.4562
Epoch 176/250
377/377 [==============================] - 1s 3ms/step - loss: 1.0977 - accuracy: 0.4801
Epoch 177/250
377/377 [==============================] - 1s 3ms/step - loss: 1.0933 - accuracy: 0.4642
Epoch 178/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1161 - accuracy: 0.4615
Epoch 179/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1074 - accuracy: 0.4350
Epoch 180/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1115 - accuracy: 0.4642
Epoch 181/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1105 - accuracy: 0.4509
Epoch 182/250
377/377 [==============================] - 1s 3ms/step - loss: 1.0944 - accuracy: 0.4748
Epoch 183/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1116 - accuracy: 0.4642
Epoch 184/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1285 - accuracy: 0.4642
Epoch 185/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1024 - accuracy: 0.4589
Epoch 186/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1091 - accuracy: 0.4642
Epoch 187/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1111 - accuracy: 0.4509
Epoch 188/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1076 - accuracy: 0.4748
Epoch 189/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1004 - accuracy: 0.4695
Epoch 190/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1203 - accuracy: 0.4350
Epoch 191/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1319 - accuracy: 0.4721
Epoch 192/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1125 - accuracy: 0.4775
Epoch 193/250
377/377 [==============================] - 1s 3ms/step - loss: 1.0922 - accuracy: 0.4881
Epoch 194/250
377/377 [==============================] - 1s 3ms/step - loss: 1.1119 - accuracy: 0.4589
Epoch 195/250
377/377 [==============================] - 1s 3ms/step - loss: 1.0830 - accuracy: 0.4721
Epoch 196/250

In [ ]:
model.save('model.h5')